NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=Key
CLERK_SECRET_KEY=Key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=sign-up



# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.qkctqnhhfqioxmxabyay:[password]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.qkctqnhhfqioxmxabyay:[password]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"

ARCJET_KEY=Key

RESEND_API_KEY=Key

GEMINI_API_KEY=Key